<ion-header class="text-center ion-no-border">
  <ion-toolbar class="background-color">
    <ion-title><i class="fa-solid fa-comment-dots header-icon fa-xl text-center header-i"></i></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col class="message-header">
      Mensajeria
    </ion-col>
  </ion-row>

  <ion-row class="message-btn">
    <ion-col size="3" class="message-photo">
      <i class="fa-solid fa-circle-user fa-2xl message-photo-img" style="color:black;"></i>
    </ion-col>
    <ion-col size="8" class="message-body">
      <ion-text class="message-name">
        Juan Carlos
      </ion-text>
      <br>
      <ion-text class="message-text">
        Hola! Tu vehiculo esta listo, puedes venir a busc...
      </ion-text>
    </ion-col>
    <ion-col size="1" class="message-icon">
      <i class="fa-solid fa-circle-arrow-right fa-xl "  style="color:rgb(182, 182, 182);"></i>
    </ion-col>
  </ion-row>

  
  <ion-row class="message-btn">
    <ion-col size="3" class="message-photo">
      <i class="fa-solid fa-circle-user fa-2xl message-photo-img" style="color:black;"></i>
    </ion-col>
    <ion-col size="8" class="message-body">
      <ion-text class="message-name">
        Pedro Perez
      </ion-text>
      <br>
      <ion-text class="message-text">
        Recuerda agendar tu hora con anticipacion, este mes...
      </ion-text>
    </ion-col>
    <ion-col size="1" class="message-icon">
      <i class="fa-solid fa-circle-arrow-right fa-xl "  style="color:rgb(182, 182, 182);"></i>
    </ion-col>
  </ion-row>


</ion-content>