<ion-header>
  <ion-toolbar class="background-color">
    <ion-title><i class="fa-solid fa-user header-icon fa-md text-center"></i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>

        <form action="">

            <img class="foto-perfil" src="../../../assets/images/profile/user.png" alt="">


          <ion-item>
            <ion-label class="label">Nombre: </ion-label>
            <ion-input cFormControl id="form1" type="text"></ion-input>
          </ion-item>


          <br>


          <ion-item>
            <ion-label class="label">Correo: </ion-label>
            <ion-input cFormControl id="form1" type="text"></ion-input>
          </ion-item>
          <br>

          <ion-item>
            <ion-label class="label">Nombre de usuario: </ion-label>
            <ion-input cFormControl id="form1" type="text"></ion-input>
          </ion-item>
          <br>


          <ion-item>
            <ion-label class="label">Direccion: </ion-label>
            <ion-input cFormControl id="form1" type="text"></ion-input>
          </ion-item>
          <br>

          <button type="submit" class="boton">
            Aceptar
          </button>


        </form>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>