<ion-header class="text-center ion-no-border">
  <ion-toolbar class="background-color">
    <ion-title><i class="fa-solid fa-gears fa-xl text-center header-icon header-i"></i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid>
    <ion-row style="justify-content:center;">

      <ion-col size="3" class="indicador">
        <h1 class="indicador-number">{{this.indicadores.activos}}</h1>
        <p class="indicador-text">Servicios Activos</p>
      </ion-col>
      <ion-col size="3" class="indicador">
        <h1 class="indicador-number">{{this.indicadores.pendientes}}</h1>
        <p class="indicador-text">Servicios Pendientes</p>
      </ion-col>
      <ion-col size="3" class="indicador">
        <h1 class="indicador-number">{{this.indicadores.totales}}</h1>
        <p class="indicador-text">Servicios Totales</p>
      </ion-col>
    </ion-row>



    <ion-row>

      <ion-col size="8">

      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" style="width: 60px; background-color: transparent;">
          <i class="fa-solid fa-circle-info fa-2xl" style="color:rgb(226, 226, 0);"></i>
        </ion-button>
      </ion-col>
      <!--[MODAL PARA HISTORIAL DE SERVICIOS] -->
      <ion-col size="2">
        <ion-button fill="clear" class="ion-button">
          <i class="fa-solid fa-clock-rotate-left fa-xl" id="trigger-historial-servicio"></i>
        </ion-button>

        <ion-modal trigger="trigger-historial-servicio">
          <ng-template>
            <ion-header>
              <ion-toolbar style="--background: transparent;--border-width: 0px !important">
                <ion-title style="text-align: center !important;padding-left: 20%;"><i
                    class="fa-solid fa-clock-rotate-left fa-xl ion-text-center header-i"></i></ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="dismiss()">
                    <i class="fa-solid fa-circle-xmark fa-2xl close-modal"></i>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-grid>
                <ion-row class="ion-text-center pt-1 pb-1">
                  <ion-col class="historial-header">
                    <ion-text class="historial-title">
                      Historial de solicitudes
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let itemHistorial of dataSourceHistorial" class="row-historial">
                  <ion-col size="10" style="margin-bottom:2px;">
                    <ion-label>
                      {{itemHistorial.marca}} {{itemHistorial.modelo}} {{itemHistorial.version}}
                      <p>Fecha solicitud: </p>
                      <p>patente: </p>
                    </ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <button class="btn btn-warning fa-solid fa-eye fa-xl mt-2 detalle-servicio"
                      (click)="showDetalleServicio(itemHistorial.id_servicio)"></button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-content>
          </ng-template>
        </ion-modal>




      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col class="vehiculo-header">

        Servicios Activos
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row>
          <ion-col class="vehiculo-body">
            <ion-accordion-group>
              <ion-accordion *ngFor="let item of dataSource">
                <ion-item slot="header">
                  <ion-label>

                    <ion-grid>
                      <ion-row>

                        <ion-col size="3">
                          <i class="fa-solid fa-car fa-2xl pt-4"
                            style="color:black; display:flex; justify-content: center;"></i>
                        </ion-col>
                        <ion-col size="9">
                          <p class="acc-nombre-vehiculo">
                            {{ item.tipo_servicio }}
                          </p>
                          <p class="acc-patente ion-text-wrap" style="color:rgb(92, 92, 92);">
                            {{ item.marca }} {{ item.modelo }} {{ item.version }}
                          </p>
                          <p class="acc-ult-servicio">
                            Estado: {{ item.estado_servicio }}
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-item>
                    <ion-label>
                      <ion-grid class="acc-content">
                        <ion-row>
                          <ion-col style="padding:10px;">
                            <strong>Tecnico a cargo:</strong> {{ item.nombre_tecnico }}
                            <br>
                            <strong>Supervisor:</strong> {{ item.nombre_supervisor }}
                            <br>
                            <strong>Fecha agendada:</strong> {{ item.fecha_agenda }}
                            <br>
                            <strong>Fecha entrada:</strong> {{ item.fecha_entrada }}
                            <br>
                            <strong>Fecha salida:</strong> {{ item.fecha_salida }}
                            <br>
                            <strong>Detalle:</strong> No aplica.
                            <br>
                            <strong>Informacion de Servicio: </strong>
                            <div class="acc-tabla-detalle">
                              <strong>{{ item.tipo_servicio }}</strong>
                              <br>

                              <ion-text class="descripcion ion-text-wrap">
                                {{ item.detalle }}
                              </ion-text>
                              <br>
                            </div>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="8">

                          </ion-col>

                          <ion-col size="2">
                            <i class="fas fa-comment-dots fa-2xl msg-btn"></i>
                          </ion-col>
                          <ion-col size="2">
                            <i class="fa-solid fa-file-pdf fa-2xl pdf-btn"></i>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>