<ion-header class="text-center ion-no-border">
  <ion-toolbar class="background-color">
    <ion-title><i class="fa-solid fa-car-side header-icon fa-xl text-center header-i"></i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid>
    <ion-row>

      <ion-col class="grafico-col">
        <canvas #barChart width="120" height="40"></canvas>

      </ion-col>


    </ion-row>
    <ion-row class="pt-2">


      <ion-col size="6">

      </ion-col>



      <!--[VENTANA PARA MOSTRAR EXPLICACION DE MODULO [MIS-VEHICULOS]] -->
      <ion-col size="2">
        <ion-button fill="clear" style="width: 60px; background-color: transparent;" (click)="showInformacion()">
          <i class="fa-solid fa-circle-info fa-2xl" style="color:rgb(226, 226, 0);"></i>
        </ion-button>
      </ion-col>



      <!--[MODAL PARA HISTORIAL DE SOLICITUD DE VEHICULOS] -->
      <ion-col size="2">
        <ion-button fill="clear" class="ion-button">
          <i class="fa-solid fa-clock-rotate-left fa-xl" id="trigger-view"></i>
        </ion-button>


        <ion-modal trigger="trigger-view">
          <ng-template>
            <ion-header>
              <ion-toolbar style="--background: transparent;--border-width: 0px !important">
                <ion-title style="text-align: center !important;padding-left: 20%;"><i
                    class="fa-solid fa-clock-rotate-left fa-xl ion-text-center header-i"></i></ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="dismiss()">
                    <i class="fa-solid fa-circle-xmark fa-2xl close-modal"></i>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-grid>
                <ion-row class="ion-text-center pt-1 pb-1">
                  <ion-col class="historial-header">
                    <ion-text class="historial-title">
                      Historial de solicitudes
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let itemHistorial of dataSourceHistorial" class="row-historial">
                  <ion-col size="10" style="margin-bottom:2px;">
                    <ion-label>
                      {{itemHistorial.marca}} {{itemHistorial.modelo}} {{itemHistorial.version}}
                      <p>Fecha solicitud: {{itemHistorial.fecha_creacion}}</p>
                      <p>patente: {{itemHistorial.patente}}</p>
                    </ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <button class="btn btn-warning fa-solid fa-eye fa-xl mt-2 detalle-servicio"
                      (click)="showDetalleSolicitud(itemHistorial.id_solicitud_vehiculo)"></button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" id="trigger-add" class="ion-button">
          <i class="fa-solid fa-plus fa-xl"></i>
        </ion-button>
        <ion-modal trigger="trigger-add">
          <ng-template>
            <ion-header>
              <ion-toolbar style="--background: transparent;--border-width: 0px !important">

                <ion-buttons slot="end">
                  <ion-button (click)="dismiss()" class="dismiss-button">
                    <p class="close-modal">X</p>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>

              <ion-grid>
                <ion-row>

                  <ion-col size="12">

                    <form [formGroup]="vehiculoForm" (ngSubmit)="addVehiculo()">
                      <i class="fas fa-car form-icon fa-2xl"
                        style="padding-top:30px; padding-bottom:20px; display:flex; justify-content:center;"></i>

                      <h1 style="color:rgb(36, 36, 36);font-weight: 600;">Solicitud para inscripcion de
                        vehiculo</h1>
                      <p style="color:rgb(109, 109, 109);">Llena este formulario para enviar una solicitud de
                        inscripcion de vehiculo que podra ser posteriormente aceptada por un administrador.</p>
                      <br>


                      <ion-item class="form-item">
                        <ion-label class="label">Nombre vehiculo: </ion-label>
                        <ion-input cFormControl id="nombre" formControlName="nombre" name="nombre" type="text">
                        </ion-input>
                      </ion-item>


                      <br>
                      <ion-item class="form-item">
                        <ion-label class="label">Marca</ion-label>
                        <ion-select interface="popover" id="marca" formControlName="marca" name="marca"
                          (ionChange)="changeMarca($event)" size="9">
                          <ion-select-option *ngFor="let marca of selectorMarcaData" value="{{marca.id_marca}}">
                            {{marca.nombre}}</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <br>

                      <ion-item class="form-item">
                        <ion-label class="label">Modelo</ion-label>
                        <ion-select interface="popover" id="modelo" formControlName="modelo" name="modelo"
                          (ionChange)="changeVersion($event)">
                          <ion-select-option *ngFor="let modelo of selectorModeloData" value="{{modelo.id_modelo}}">
                            {{modelo.nombre}}</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <br>

                      <ion-item class="form-item">
                        <ion-label class="label">Version</ion-label>
                        <ion-select interface="popover" id="version" formControlName="version" name="version">
                          <ion-select-option *ngFor="let version of selectorVersionData" value="{{version.id_version}}">
                            {{version.nombre}}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                      <br>

                      <ion-item class="form-item">
                        <ion-label class="label">Patente </ion-label>
                        <ion-input cFormControl id="patente" name="patente" formControlName="patente" type="text">
                        </ion-input>
                      </ion-item>
                      <br>


                      <ion-item class="form-item">
                        <ion-label class="label">Ano de compra</ion-label>
                        <ion-select interface="popover" id="ano_compra" formControlName="ano_compra" name="ano_compra">
                          <ion-select-option value="2022">2022</ion-select-option>
                          <ion-select-option value="2021">2021</ion-select-option>
                          <ion-select-option value="2020">2020</ion-select-option>
                          <ion-select-option value="2019">2019</ion-select-option>
                          <ion-select-option value="2018">2018</ion-select-option>
                          <ion-select-option value="2017">2017</ion-select-option>
                          <ion-select-option value="2016">2016</ion-select-option>
                          <ion-select-option value="2015">2015</ion-select-option>
                          <ion-select-option value="2014">2014</ion-select-option>
                          <ion-select-option value="2013">2013</ion-select-option>
                          <ion-select-option value="2012">2012</ion-select-option>
                          <ion-select-option value="2011">2011</ion-select-option>
                          <ion-select-option value="2010">2010</ion-select-option>
                          <ion-select-option value="2009">2009</ion-select-option>
                          <ion-select-option value="2008">2008</ion-select-option>
                          <ion-select-option value="2007">2007</ion-select-option>
                          <ion-select-option value="2006">2006</ion-select-option>
                          <ion-select-option value="2005">2005</ion-select-option>
                          <ion-select-option value="2004">2004</ion-select-option>
                          <ion-select-option value="2003">2003</ion-select-option>
                          <ion-select-option value="2002">2002</ion-select-option>
                          <ion-select-option value="2001">2001</ion-select-option>
                          <ion-select-option value="2000">2000</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <br>

                      <ion-item class="form-item">
                        <ion-label class="label">Sucursal</ion-label>
                        <ion-select interface="popover" id="sucursal" name="sucursal" formControlName="sucursal">
                          <ion-select-option value="1">Carmona, La serena</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <br>


                      <ion-item class="form-item">
                        <ion-label class="label">Nro Chasis </ion-label>
                        <ion-input cFormControl id="nro_chasis" formControlName="nro_chasis" name="nro_chasis"
                          type="text"></ion-input>
                      </ion-item>
                      <br>


                      <ion-item class="form-item">
                        <ion-label class="label">Nro Motor </ion-label>
                        <ion-input cFormControl id="nro_motor" name="nro_motor" formControlName="nro_motor" type="text">
                        </ion-input>
                      </ion-item>
                      <br>

                      <ion-item class="form-item">
                        <ion-label class="label">Imagenes </ion-label>
                        <ion-input type="text"></ion-input>
                      </ion-item>
                      <br>


                      <button cButton type="submit" class="boton">
                        Enviar solicitud
                      </button>


                    </form>
                  </ion-col>
                </ion-row>

              </ion-grid>


            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

    </ion-row>


    <ion-row>
      <ion-col class="vehiculo-header">

        Mis Vehiculos
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row>
          <ion-col class="vehiculo-body">
            <ion-accordion-group>
              <ion-accordion *ngFor="let item of dataSource">
                <ion-item slot="header">
                  <ion-label>

                    <ion-grid>
                      <ion-row>

                        <ion-col size="3">
                          <i class="fa-solid fa-car fa-2xl pt-4"
                            style="color:black; display:flex; justify-content: center;"></i>
                        </ion-col>
                        <ion-col size="9">
                          <p class="acc-nombre-vehiculo">
                            {{item.nombre_marca}} {{item.nombre_modelo}} {{item.nombre_version}}
                          </p>
                          <p class="acc-patente">
                            {{ item.patente }}
                          </p>
                          <p class="acc-ult-servicio">
                            U/Servicio: {{ item.ultimo_servicio }}
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-item>
                    <ion-label>
                      <ion-grid class="acc-content">
                        <ion-row>
                          <ion-col style="padding:10px;">
                            {{item.nombre_marca}} {{item.nombre_modelo}} {{item.nombre_version}}
                            <br>
                            <strong> Año: </strong>{{item.ano}}
                            <br>
                            <strong>Color:</strong> {{item.color}}
                            <br>
                            <strong>Kilometraje:</strong> 2.598
                            <br>
                            <strong>U/Cambio aceite: </strong>{{item.color}}
                            <br>
                            <strong>Fecha de compra:</strong> No definido
                            <br>
                            <div class="acc-tabla-detalle">
                              <strong>
                                Fecha U/Servicio: {{ item.ultimo_servicio }}
                              </strong>
                              <br>
                              <ion-text class="descripcion ion-text-wrap">
                                {{ item.detalle_ultimo_servicio }}
                              </ion-text>
                              <br>
                            </div>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <i class="fa-solid fa-file-pdf fa-2xl pdf-btn"></i>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

  </ion-grid>
</ion-content>