// .center-item {
//     background-color: #F13A3A;
//     margin-bottom: 10px;
//     margin-top: -25px;
//     height: 85px;
//     width: 85px;

//     padding: 20px 0px 20px 0px;
//     border-radius: 100%;
//     box-shadow: 0 4px 2px -2px gray;

// }

ion-tab-button {
    color: white;
    background-color: #F13A3A;
}

ion-tab-bar {
    margin: 10px;
    border-radius: 40px;
    height: 55px;
    border-top: none;
    background-color: #F13A3A;

}