<ion-tabs class="bottom-tab">

  <ion-tab-bar slot="bottom" class="ion-tab">
    <ion-tab-button tab="mis-vehiculos">
      <i class="fa-solid fa-car-side fa-2xl"></i>
      <!-- <ion-label>Vehiculos</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="servicios-activos">
      <i class="fa-solid fa-gears fa-2xl"></i>
      <!-- <ion-label>Servicios</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="agenda" class="center-item">
      <i class="fas fa-calendar-check fa-2xl"></i>
    </ion-tab-button>

    <ion-tab-button tab="mensajeria">
      <i class="fas fa-comment-dots fa-2xl"></i>
      <!-- <ion-label>Mensajeria</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <i class="fa-solid fa-user fa-2xl"></i>
      <!-- <ion-label>Historial</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>